.tipografia {
    font-size: 0.9em;
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    color: red
}

header {
    font-size: 15pt;
    font-weight: bold;
    color: red
}

.logotipo {
    width: 50px;
    height: 50px;
}